.crumb{
	border-bottom:dotted 1px #ccc;
	line-height:3em;
	margin-bottom: 40px;
	font-size: 15px;
}
.crumb a{
	font-size:15px;
	color:#333;
	font-weight:normal;
}
h1{
	font-family: "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";
	font-size:32px;
	font-weight:normal;
	text-align:center;
	width: 90%;
    margin: 0 auto;
	margin-top:28px;
	padding-bottom: 30px;
	border-bottom: dotted 1px #ccc;
	color: #000000;
}
.blockInfo{
	text-align:center;
	font-size: 14px;
	margin-top: 10px;
}
.article-video{
   text-align: center !important;
}
.mod-video{ border: none !important; }
.pubDate{
	display:inline-blcok;
	margin-right:40px;
	font-size: 14px;
}
.article-content p{
	line-height:2em;
	font-size:15px;
	text-indent:2em;
}
.article-content table p {
    text-indent: 0;
}
.article-content p img {
    margin: 0 auto;
}
#content{
	margin-top:30px;
	margin-bottom: 43px;
}
.blockContent {
    width: 90%;
    margin: 0 auto;
}
.mod-video{ width: 90% !important; }
.pc_video{  }

.pagination ul {
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0);
    box-shadow: 0 1px 2px rgba(0,0,0,0);
}
.read-btn {
    margin-top: 40px;
}

p.subTitle {
    text-align: center;
    font-size: 15px;
	padding: 0;
	line-height: 1.7em;
}
.title .span12 {
    padding-bottom: 10px;
}

@media (min-width: 979px) and (max-width: 1199px) {

}

@media (min-width: 768px) and (max-width: 978px) {

}
 

@media (max-width: 767px) {
    
	
}
 

@media (max-width: 480px) {
	h1{
		font-size:25px;
		font-weight:bold;
		margin-bottom:0;
		padding-bottom:20px;
	}
	.pubDate{
		margin-right:0;
	}
	.crumb {
		padding-left: 10px;
	}
   .pc_video{ height: auto !important; width: 100% !important; }
}